.header{
   background-color: #23232E;
   min-height: 4.5rem;
   width: 100%;
   color: #ffffff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 24px;
}

.rowConfigHeader{
   width: 100%;
   display: flex;
   align-items: center;
}

.content{
   background-color:#23232E;
   padding-right: 0.5rem;
   padding-left: 0.5rem;
   color: #ffffff;
}

.iconButtonHeader{
   border-color:transparent;
   background-color: transparent;
   height: 3rem;
   width: 3rem;
   align-items: center;
}

.middleInputHeader{
   text-align: center;
   color: #ffffff;
   font-weight: 700;
   font-size: 1.25rem;
}

.background{
   background-color: #23232E;
   min-width: 100%;
   min-height: 100%;
}

.background.dark{
   background-color: #23232E;
}

.leftBtnHeader{
   text-align: left;
   color: #ffffff;
   font-size: 24px;
}

.rightBtnHeader{
   text-align: right;
   color: #ffffff;
   font-size: 24px;
}

.headerIconStyle{
   width: 1.5rem;
   height: 1.5rem;
   color: #ffffff;
   display: flex;
   justify-content: center;
   align-items: center;
}