<div class="container-fluid background">
    <div class="row">
        <div class="header">
            <div class="header-icon">
                <button *ngIf="!isDisabledLeftBtn" [disabled]="isDisabledLeftBtn" type="button" class="btn"
                    (click)="emitLeftBtn()">
                    <i class="leftBtnHeader" [ngClass]="leftIconClass"></i>
                </button>
            </div>

            <div class="header-title">
                <span class="middleInputHeader">
                    {{ middleInputHeader }}
                </span>
            </div>

            <div class="header-icon">
                <button *ngIf="!isDisabledRightBtn" [disabled]="isDisabledRightBtn" type="button" class="btn"
                    (click)="emitRightBtn()">
                    <i class="rightBtnHeader" [ngClass]="rightIconClass"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="container-outlt">
        <ng-content></ng-content>
    </div>
</div>