.homeBorderBtn{
    height: 56px;
    width: 56px;
    font-size: 32px;
    padding: 12px;
    border-radius: 4px;
    background-color: #2a2a33;
    color: #ffffff;
}

.grid-config {
    padding-bottom: 24px;
  }