.homeBorderBtn{
    height: 3.5rem;
    width: 3.5rem;
    font-size: 2rem;
    padding: 0.75rem;
    border-radius: 4px;
    background-color: #2a2a33;
    color: #ffffff;
}

.grid-config {
    padding-bottom: 1.5rem;
  }