<app-base middleInputHeader="Icon.png" rightIconClass="ph-magnifying-glass-bold" (rightIconAction)="sendToSearch()"
    isDisabledLeftBtn="true">

    <div style="padding-top: 2.5rem"></div>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <span>
                    <i class="ph-folder-bold homeBorderBtn"></i>
                </span>
            </div>
            <div class="col-8">
                <div class="row">
                    <h1>Coleção</h1>
                </div>
                <div class="row">
                    <p>42 cartas</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <span>
                    <i class="ph-folder-bold homeBorderBtn"></i>
                </span>
            </div>
            <div class="col-8">
                <div class="row">
                    <h1>Coleção</h1>
                </div>
                <div class="row">
                    <p>42 cartas</p>
                </div>
            </div>
        </div>
    </div>
</app-base>