<app-base middleInputHeader="Icon.png" rightIconClass="ph-magnifying-glass-bold" (rightIconAction)="sendToSearch()"
    isDisabledLeftBtn="true">

    <div class="container">
        <div class="cards-home">
            <div class="card-container">
                <div class="card-icon">
                    <i class="ph-folder-bold homeBorderBtn"></i>
                </div>
                <div class="card-home-info">
                    <h1>Coleção</h1>
                    <p>{{collectionSize + ' cartas'}}</p>
                </div>
            </div>

            <div class="card-container">
                <div class="card-icon">
                    <i class="ph-folder-bold homeBorderBtn"></i>
                </div>
                <div class="card-home-info">
                    <h1>Coleção</h1>
                    <p>{{wantsSize + ' cartas'}}</p>
                </div>
            </div>
        </div>
    </div>
</app-base>