.iconLogin {
    margin-bottom: 4.5rem;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2f3640;
}

.login-container .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;

    @media (min-width: 768px) {
        width: 50%;
    }
}

.submitLogin {
    border-radius: 0.5rem;
    background-color: #4f5b67;
    border-color: transparent;
    margin-top: 3.75rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.input-login {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.underline-actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.inputLogin {
    height: 2.5rem;
    background-color: #343d46;
    font-weight: 400;
    color: #ffffff;
    border-color: transparent;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    transition: 0.2s;
}

.inputIcon {
    transition: 0.3s;
    position: relative;
}

.inputIcon span {
    position: absolute;
    box-sizing: border-box;
    right: 0;
    padding: 8px 8px 8px 8px;
    height: 2.5rem;
    transition: 0.3s;
}

::placeholder {
    font-size: 0.875;
    font-weight: 400;
}

.eye {
    position: absolute;
    cursor: pointer;
}

#closeEye {
    display: none;
}
::before {
    display: flex;
}

.txtLogin {
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
}

.deepLinkLogin {
    font-weight: 500;
    color: #ffffff;
}

.content-info-users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.slogan {
    & .logo-container {
        width: 250px;
        height: 250px;
        pointer-events: none;

        & img {
            width: 100%;
            height: 100%;
            border-radius: 24px;
        }
    }
}
