<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>teste</title>
</head>

<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
      </div>

      <!-- Login Form -->
      <form>
        <input type="text" id="login" [(ngModel)]="body.email" class="fadeIn second" name="login" placeholder="login">
        <input type="text" id="password" [(ngModel)]="body.password" class="fadeIn third" name="login"
          placeholder="password">
        <button nz-button [nzSize]="size" nzType="primary">Dashed Button</button>
        <input type="submit" class="fadeIn fourth" value="Log In" (click)="sendtoBack()">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>

    </div>
  </div>
</body>

</html>