<app-base middleInputHeader="Adicionar Carta" leftIconClass="ph-ar-left-bold" (leftIconAction)="back()"
    rightIconClass="ph-funnel-simple-bold">
    <div class="content">
        <div class="img-info-container">
            <div class="img-detailed-container">
                <img src="{{ card.card_images[0].image_url }}" />
            </div>
            <div class="info-card-container">
                <div>
                    <h1 class="titleCardInfo">{{ card.name }}</h1>
                </div>
                <div>
                    <div *ngIf="card.attribute" class="col-6 col-xs-6 col-sm-6 col-md-6 gy-2 gx-2">
                        <h1 class="secondLineCardInfo text-right">
                            <img class="attributeIcon" [src]="commonHelper.transcriptAttributeCard(card.attribute)" />
                            {{ card.attribute }}
                        </h1>
                    </div>
                    <div *ngIf="card.level" class="col-6 col-xs-6 col-sm-6 col-md-6 gy-2 gx-2">
                        <h1 class="secondLineCardInfo text-right">
                            <img class="attributeIcon" src="../../../assets/levelIcon/levelStar.svg" />
                            Nível {{ card.level }}
                        </h1>
                    </div>
                </div>
                <div class=" text-left">
                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 gy-2 gx-2">
                        <p class="thirdLineCardInfo">{{ card.race }} | {{ card.type }}</p>
                    </div>
                </div>
                <div class=" text-left">
                    <div class="card-description">
                        <p>{{card.desc}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-container">
            <select class="fullInputSelect" [(ngModel)]="selectedRarity">
                <option value="null">Raridade</option>
                <option [ngValue]="rarity" *ngFor="let rarity of rarityList">
                    {{ commonHelper.transcriptRarityCards(rarity) }}
                </option>
            </select>

            <select class="fullInputSelect" [(ngModel)]="selectedLanguage">
                <option value="null">Idioma</option>
                <option [ngValue]="language" *ngFor="let language of languageList">
                    {{ commonHelper.transcriptLanguageCards(language) }}
                </option>
            </select>

            <select class="fullInputSelect" [(ngModel)]="selectedStateCard">
                <option value="null">Estado da carta</option>
                <option [ngValue]="stateCard" *ngFor="let stateCard of stateCardList">
                    {{ commonHelper.transcriptCardState(stateCard) }}
                </option>
            </select>


            <div class="action-container">
                <div class="countBtn">
                    <div class="col-4 text-center">
                        <span>R$</span>
                    </div>
                    <div class="col-8 text-left">
                        <input class="inputCountBtn" [(ngModel)]="priceCard" type="number " />
                    </div>
                </div>

                <div class="countBtn">
                    <div class="col-4 text-center">
                        <span><i class="ph-minus-bold" (click)="decrementCountCard()"></i></span>
                    </div>
                    <div class="col-4 text-center">
                        <input class="inputCountBtn" min="0" max="99" [(ngModel)]="countCard" type="number " />
                    </div>
                    <div class="col-4 text-center">
                        <span><i class="ph-plus-bold" (click)="incrementCountCard()"></i></span>
                    </div>
                </div>
            </div>
            <div class="add-btn-container" style="padding-top: 4.5rem; padding-bottom: 1.5rem">
                <button type="button" class="btn btn-secondary btnAddCollection">Adicionar</button>
            </div>
        </div>
    </div>
</app-base>