.countBtn {
    background-color: #343D46;
    color: #ffffff;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inputCountBtn {
    background-color: #343D46;
    border-color: transparent;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    height: 1.5rem;
    width: 2.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.iconCountBtn {
    text-align: center;
}

.imgToAdd {
    width: auto;
    height: auto;
}

.titleCardInfo {
    color: #ffffff;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 0px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.secondLineCardInfo {
    font-size: 0.625rem;
    font-weight: 700;
    color: #C1C5CE;
}

.thirdLineCardInfo {
    color: #C1C5CE;
    font-size: 0.75rem;
    font-weight: 400;
}

.btnAddCollection{
    background-color: #4F5B67;
    height: 2.5rem;
    border-color: transparent;
    font-size: 0.875rem;
    font-weight: 700;
    border-radius: 8px;
}

.btnDescription{
    background-color: #4F5B67;
    border-color: transparent;
    font-size: 0.75rem;
    font-weight: 700;
    border-radius: 8px;
}

.attributeIcon{
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}
