.content {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    @media (max-width: 600px) {
        width: 100%;
    }

    & .form-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        align-items: center;
        justify-content: center;

        @media (max-width: 400px) {
            width: 100%;
        }
    }
}

.action-container {
    width: 100%;
    display: flex;
    gap: 16px;
}

.countBtn {
    background-color: #343d46;
    color: #ffffff;
    height: 40px;
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & .click-btn {
        cursor: pointer;
    }

    & input {
        width: 100%;
        height: 100%;
    }
}

.inputCountBtn {
    background-color: #343d46;
    border-color: transparent;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    height: 1.5rem;
    width: 2.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.iconCountBtn {
    text-align: center;
}

.imgToAdd {
    width: auto;
    height: auto;
}

.titleCardInfo {
    color: #ffffff;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 0px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.secondLineCardInfo {
    font-size: 0.625rem;
    font-weight: 700;
    color: #c1c5ce;
}

.thirdLineCardInfo {
    color: #c1c5ce;
    font-size: 0.75rem;
    font-weight: 400;
}

.btnAddCollection {
    background-color: #4f5b67;
    height: 2.5rem;
    border-color: transparent;
    font-size: 0.875rem;
    font-weight: 700;
    border-radius: 8px;
    width: 100%;
}

.btnDescription {
    background-color: #4f5b67;
    border-color: transparent;
    font-size: 0.75rem;
    font-weight: 700;
    border-radius: 8px;
}

.attributeIcon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.img-info-container {
    display: flex;
    gap: 32px;
    width: 100%;
    justify-content: center;

    & .img-detailed-container {
        position: relative;
        max-width: 240px;
        min-height: 180px;
        & img {
            width: 100%;
            height: auto;
        }
    }
    & .info-card-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;

        & .card-description {
            width: 100%;
            max-height: 180px;
            overflow-y: auto;
            padding-right: 8px;
        }

        & .attribute-and-level {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        & p {
            font-size: 12px;
        }
    }

    @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        align-items: center;

        & .info-card-container {
            width: 100%;
        }

        & .img-detailed-container {
            max-width: 260px;
            min-height: 250px;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                max-width: 160px;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.add-btn-container {
    width: 100%;
}

small {
    opacity: 0.5;
    font-size: 12px;
}
